# 변수와 연산자
## 코드 실행방법1 : ctrl + Enter
## 코드실행방법2 : shipt + Enter

#### 코드 실행방법3 : alt + Enter

In [1]:
#변수이름 정의하기 
#오른쪽의 값을 왼쪽의 이름(메모리공간)에 저장시킨다 
my_age = 24

In [2]:
#print 함수 사용하기 
# print 함수는 이름(메모리공간)에 저장되어 있는 값을 출력한다
print(my_age)

23

In [3]:
#jupyter의 경우 print를 안쓰고 변수 이름 만으로 값을 확인 할 수 있다. 
my_age

23

In [4]:
#변수로 지정한 값은 주피터 노트북이 실행되는 동안 메모리 공간에 저장되어 있다.
my_height = 177
print(my_height)

177

In [5]:
#연산하기
my_age + my_height

200

In [6]:
#연산한 값을 새로운 변수에 저장 할 수도 있다 
tot = my_age + my_height 
print(tot)

200

In [8]:
#여러개 값 출력하기 변수 이름을 ,로 구분하여 print 하면된다 
print(my_age, my_height, tot)

23 177 200

In [9]:
#데이터 타입 
# int : 정수타입(1,2,3) 소수점이 없는 값
# flot : 소수점이 있는 타입 (1.1, 2.4)
# str : 문자 타입 ("123", 'abd', "홍길동", '3.444') -> 문자의 양 끝에 상 따옴표 또는 작은 따옴표

In [13]:
name = "홍길동"
name_age = "23" 
name_height = "180" 
print (name, name_age, name_height)

홍길동 23 180

In [14]:
#정수 형태의 변수 + 문자 형태의 변수 -> 다른 타입의 연산은 안된다 
#error 문구 제일 마지막 보기 -> 화살표 다음 보기(오류 위치)
my_age + name_age

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# 타입을 변경해서 연산 하기 : str -> int 
# *name_age안에 문자가 들어 있으면 연산이 안된다 
my_age + int(name_age)

46

In [17]:
#타입 변경하기 : int -> str 
str(my_age) + name_age

'2323'

In [25]:
#산술 연산자 
# +, -, *, /, //, %
a = 6
b = 4
tot = a + b
print(tot)

10

In [19]:
tot = a - b 
print (tot)

3

In [20]:
tot = a * b 
print (tot)

18

In [28]:
#나누기를 진행 하면 자동으로 flot type으로 형변환
tot = a/b
print (tot)

1.5

In [27]:
# // : 나눈 몫 (정수 값으로 뽑아냄 ) 
tot = a//b
print(tot)

1

In [36]:
# % : 나눈 나머지 값
tot = a % b
print (tot)

2

In [29]:
print(name)

홍길동

In [30]:
#문자와 숫자의 메모리 공간에 생기는 방식이 다르다 
#name = "홍길동" --> 홍 | 길 | 동 : 3개의 공간에 들어간다
#각 공간에 번호(인덱스)가 부여된다 0 | 1 | 2 
#name 은 해당 메모리 공간의 주소를 가리키고 있다 
#python의 공간 시작은 0부터이다

In [31]:
name[0]

'홍'

In [34]:
name[1]

'길'

In [33]:
name[2]

'동'

In [37]:
"""
[장문의 주석이 들어가는 경우 주석...]
조건연산자 : 크다(>), 작다(<), 같다(==), 같지 않다(!=), 크거나 같다(>=), 작거나 같다(<=) 
*크다 작다의 기준 : 왼쪽이 기준 , 오른쪽은 비교 할 값 
"""

print(a, b, tot)

6 4 2

In [38]:
a > b

True

In [39]:
a < b

False

In [40]:
a == b

False

In [41]:
a != b

True

In [42]:
a >= b

True

In [43]:
a <= b

False

In [46]:
#조건문(선텍문) 사용하기 조건이 맞으면 블록안에 내용 수행
#if 조건 : True 시 실행 내용 else : false 시 수행 내용
if a > b :
    print("크다")
else : 
    print("아니야")

크다

In [47]:
if a < b :
    print("크다")
else : 
    print("아니야")

아니야

In [48]:
#여러개의 조건 
#if 조건 : if 조건 true시 실행 elif : elif 조건 true 시 실행 else : 나머지 
#수서대로 가면서 하나만 만족하는 것 수행, 하나 만족하면 이후 실행 x
if a > b :
    print("크다1")
elif a > b :
    print("크다2")
else : 
    print("아니야")

작다

In [51]:
#else 가 있으면 수행 
if a < b :
    print("크다")
elif a == b :
    print("같다")
else : 
    print("아니야")

아니야

In [53]:
# else 없으면 조건 맞는 거 없으면 실행 x
if a < b :
    print("크다")
elif a == b :
    print("같다")

In [57]:
#조건문 안에 조건문을 또 사용 할 수 있다 
a = 10
b = 5
name1 = "홍길동1"
name2 = "홍길동2"
if a < b :
    if name1 == "홍길동1" :
        print("홍길동1")
    else : 
        print("아니야")
else : 
    if name2 == "홍길동2" :
        print("홍길동2")
    else : 
        print("아니야")

홍길동2

In [62]:
### [문제]
#jumin = 본인의 주민번호 뒤 첫번째 숫자값 입력 
# - 남자인지 여자인지 출력해주세요
jumin = 4
if (jumin % 2) == 0 :
    print("여자입니다")
else : 
    print("남자입니다")

여자입니다

In [77]:
### [문제2]
#본인의 주민등록번호 뒷자리 전체를 변수 jumin에 넣은 후 
# 첫번째 값을 추출해서 
#남자여자인지 출력하기 
jumin = 4113421
juminstr = str(jumin)
if (int(juminstr[0]) % 2) == 0 :
    print("여자입니다")
else : 
    print("남자입니다")

여자입니다

In [79]:
#format 함수 사용하기
#문자열 함수로 문자열 중간에 변수 값 또는 값을 넣어주고 싶을 때 사용
#문자열 함수 : format 함수 -> 특정 중괄호 위치에 값 넣기 
name ="홍길동"
age = 20
"나의 이름은 {}이고, 나이는 {}입니다.".format(name,age)

'나의 이름은 홍길동이고, 나이는 20입니다.'

In [80]:
#중괄호 안에 숫자를 지정해 줄 경우 format 함수 내의 순서를 의미 한다 
# format(0,1,2,3,~)
#숫자를 입력해서 순서를 지정할 경우 모든 {} 내에 입력해야 한다 
name ="홍길동"
age = 20
"나의 이름은 {0}이고, 나이는 {0}입니다.".format(name,age)

'나의 이름은 홍길동이고, 나이는 홍길동입니다.'

In [88]:
#format 내에 값을 직접 넣어도 된다 
name ="홍길동"
age = 20
"나의 이름은 {}이고, 나이는 {}입니다.".format("홍길동",age)

'나의 이름은 홍길동이고, 나이는 20입니다.'

In [86]:
yyyy = 2023
mm = 1
dd = 3
"{0}-{1}-{2}, {0}/{1}/{2},{0}.{1}.{2}".format(yyyy,mm,dd)

'2023-1-3'

In [91]:
#range 함수
#숫자의 범위 함수
#첫번째 값 : 시작값
#두번쨰 값 : 끝값 (끝값 - 1 까지 = 100까지)
#세번째값 : 증가값 
print(range(1, 101,1))

range(1, 101)

In [92]:
#반복문 : 지정된 범위까지 반복하기 (시작부터 끝까지)
#반복을 시키는 명령어 : for, while 
# for : 시작부터 끝까지의 범위가 지정되어야 한다 (ranger를 이용해야 한다)
#while : 무한 반복하고자 할 때 주로 사용( 기본 반복은 for문과 동일 )

In [ ]:
#1~100 까지 반복하면서 값 출력하기 
#증가값, 첫번째 값을 안 넣으면 기본적으로 1
# 끝 값은 반드시 넣어 줘야 한다 
for i in range(101):
    print("{}번째 출력".format(i))

In [ ]:
#while은 기본적으로 무한 반복 
i = 1
while i <= 100 : 
    print("{}번째while 처리".format(i))
    i = i + 1

In [ ]:
#무한루프 종료 : break
i = 0
while True :
    print("{}무한루프".format(i))
    break

In [ ]:
###반복 건너뛰기 : continue
##반복 종료하기 : break

In [3]:
i = 1
for i in range(1, 101, 1):
    if i <= 50 :
        continue
    elif i == 60 :
        break
    print("{}번째".format(i))

51번째
52번째
53번째
54번째
55번째
56번째
57번째
58번째
59번째

In [5]:
    # [문제]
    # 0부터 100까지의 범위에서 짝수의 총합을 출력해 주세요 
    tot = 0
    for i in range(0, 101, 2) :
        tot += i
    print (tot)

2550

In [6]:
tot = 0 
for i in range(1, 101 ,1) :
    if (i % 2) == 0 :
        tot += i
print(tot)

2550

In [8]:
# for문의 중첩 
for i in range (0, 11, 1) :
    for j in range(0, 3, 1) :
        print("{}/{}".format(i,j))

0/0
0/1
0/2
1/0
1/1
1/2
2/0
2/1
2/2
3/0
3/1
3/2
4/0
4/1
4/2
5/0
5/1
5/2
6/0
6/1
6/2
7/0
7/1
7/2
8/0
8/1
8/2
9/0
9/1
9/2
10/0
10/1
10/2

In [12]:
#zfill함수 : 문자열 함수, 문자열 개수를 입려하면 빈공간은 0으로 채워준다 
# 빈 공간애 0값 넣기
"1".zfill(3)

'001'

In [15]:
#날짜에 많이 사용 한다 
yyyy = 2023
mm = 1
dd = 3
print("{}-{}-{}".format(yyyy, str(mm).zfill(2),str(dd).zfill(2)))

2023-01-03

In [21]:
# [문제]
# 2010년 1월 부터 2022년 12월 까지의 년-월(0000-00)을 출력해 주세요

for y in range (2010,2023,1):
    for m in range(1,13,1) :
        print("{}-{}".format(y,str(m).zfill(2)))

2010-01
2010-02
2010-03
2010-04
2010-05
2010-06
2010-07
2010-08
2010-09
2010-10
2010-11
2010-12
2011-01
2011-02
2011-03
2011-04
2011-05
2011-06
2011-07
2011-08
2011-09
2011-10
2011-11
2011-12
2012-01
2012-02
2012-03
2012-04
2012-05
2012-06
2012-07
2012-08
2012-09
2012-10
2012-11
2012-12
2013-01
2013-02
2013-03
2013-04
2013-05
2013-06
2013-07
2013-08
2013-09
2013-10
2013-11
2013-12
2014-01
2014-02
2014-03
2014-04
2014-05
2014-06
2014-07
2014-08
2014-09
2014-10
2014-11
2014-12
2015-01
2015-02
2015-03
2015-04
2015-05
2015-06
2015-07
2015-08
2015-09
2015-10
2015-11
2015-12
2016-01
2016-02
2016-03
2016-04
2016-05
2016-06
2016-07
2016-08
2016-09
2016-10
2016-11
2016-12
2017-01
2017-02
2017-03
2017-04
2017-05
2017-06
2017-07
2017-08
2017-09
2017-10
2017-11
2017-12
2018-01
2018-02
2018-03
2018-04
2018-05
2018-06
2018-07
2018-08
2018-09
2018-10
2018-11
2018-12
2019-01
2019-02
2019-03
2019-04
2019-05
2019-06
2019-07
2019-08
2019-09
2019-10
2019-11
2019-12
2020-01
2020-02
2020-03
2020-04
2020-05
2020-06
2020-07
2020-08
2020-09
2020-10
2020-11
2020-12
2021-01
2021-02
2021-03
2021-04
2021-05
2021-06
2021-07
2021-08
2021-09
2021-10
2021-11
2021-12
2022-01
2022-02
2022-03
2022-04
2022-05
2022-06
2022-07
2022-08
2022-09
2022-10
2022-11
2022-12

In [22]:
# [문제]
# 2010년 1월 부터 2022년 12월 까지의 년-월(0000-00)을 출력해 주세요
#단, 짝수 년도와 짝수 월에 대해서만 출력해 주세요 
for y in range(2010,2023,1) :
    if(y % 2) == 0 :
        for m in range(1, 13, 1) :
            if (m % 2) == 0 :
                print("{}-{}".format(y,str(m).zfill(2)))

2010-02
2010-04
2010-06
2010-08
2010-10
2010-12
2012-02
2012-04
2012-06
2012-08
2012-10
2012-12
2014-02
2014-04
2014-06
2014-08
2014-10
2014-12
2016-02
2016-04
2016-06
2016-08
2016-10
2016-12
2018-02
2018-04
2018-06
2018-08
2018-10
2018-12
2020-02
2020-04
2020-06
2020-08
2020-10
2020-12
2022-02
2022-04
2022-06
2022-08
2022-10
2022-12

In [23]:
for y in range(2010,2023,1) :
    for m in range(1, 13, 1) :
        if (y % 2 == 0) and (m % 2 == 0)  :
            print("{}-{}".format(y,str(m).zfill(2)))

2010-02
2010-04
2010-06
2010-08
2010-10
2010-12
2012-02
2012-04
2012-06
2012-08
2012-10
2012-12
2014-02
2014-04
2014-06
2014-08
2014-10
2014-12
2016-02
2016-04
2016-06
2016-08
2016-10
2016-12
2018-02
2018-04
2018-06
2018-08
2018-10
2018-12
2020-02
2020-04
2020-06
2020-08
2020-10
2020-12
2022-02
2022-04
2022-06
2022-08
2022-10
2022-12

In [25]:
for y in range(2010,2023,1) :
    if(y % 2) != 0 :
        continue
    for m in range(1, 13, 1) :
        if (m % 2) != 0 :
            continue
        print("{}-{}".format(y,str(m).zfill(2)))

2010-02
2010-04
2010-06
2010-08
2010-10
2010-12
2012-02
2012-04
2012-06
2012-08
2012-10
2012-12
2014-02
2014-04
2014-06
2014-08
2014-10
2014-12
2016-02
2016-04
2016-06
2016-08
2016-10
2016-12
2018-02
2018-04
2018-06
2018-08
2018-10
2018-12
2020-02
2020-04
2020-06
2020-08
2020-10
2020-12
2022-02
2022-04
2022-06
2022-08
2022-10
2022-12

In [31]:
message = "안녕하세요. 파이썬입니다. "
# for 문으로 massage문자열의 하나하나 값을 출력해주세요 
for i in range(0,15,1) :
    print("{}".format(message[i]))

안
녕
하
세
요
.

파
이
썬
입
니
다
.

In [32]:
# 문자값 변환하기 : 첫번째 값과 같은 값을 모두 찾아서 두번째 값으로 변환하기 
# 공백을 찾아서 공백을 없애 준다
message_new = message.replace(" ","")
print(message, message_new)

안녕하세요. 파이썬입니다.  안녕하세요.파이썬입니다.

In [33]:
# 공백을 찾아서 공백에 _를 넣는다
message_new = message.replace(" ","_")
print(message, message_new)

안녕하세요. 파이썬입니다.  안녕하세요._파이썬입니다._

## 리스트[], 딕셔너리{}, 튜플()

In [37]:
# 리스트 변수 생성하기 
# 여러개의 값을 저장 할 수 있다
# 여러종류의 데이터 타입을 저장 할 수 있다 
# 하나의 공간안에 하나의 변수 값이 들어 있다 
# index 번호가 존재 한다 
# n_list : 11 | 22 | 33 | 44 | 55 | 66 | a | b | abc | 1.2 | 3.4

n_list = [11, 22, 33, 44, 55, 66, "a", "b", "abc", 1.2, 3.4]
print(n_list, n_list[3])

[11, 22, 33, 44, 55, 66, 'a', 'b', 'abc', 1.2, 3.4] 44

In [38]:
# 리스트에 값을 추가하고 싶을 때 -> append() 함수 사용 
# 리스트의 마지막 끝에 추가 된다 
# 변수 . 뒤에 커서 후 tab => 사용 가능한 함수가 나온다 
# 변수 . 뒤에 커서 후 shipt + tab => 변수 정보를 볼 수 있다 
# 함수 뒤에 커서 후 shift + tab => 함수에 들어 갈 요소 정보를 볼 수 있다 
n_list.append("추가하기")
print(n_list)

[11, 22, 33, 44, 55, 66, 'a', 'b', 'abc', 1.2, 3.4, '추가하기']

In [39]:
# 리스트 내의 각각의 값을 출력하기 (리스트 길이르 아는 경우)
for i in range(0,12,1) :
    print(n_list[i])

11
22
33
44
55
66
a
b
abc
1.2
3.4
추가하기

In [41]:
# 리스트의 개수를 알아내는 방법 -> len() 함수 : 문자열, 리스트의 메모리공간 개수를 알아내는 함수
for i in range(0,len(n_list),1) :
    print(n_list[i])

11
22
33
44
55
66
a
b
abc
1.2
3.4
추가하기

In [42]:
# for문을 사용하는 방식(리스트에 점근하는 방식) 1번째 : 숫자값(인덱스 값)을 이용하는 방식
for i in range(0,len(n_list),1) :
    print(n_list[i])

In [43]:
# for문을 사용하는 방식 (리스트에 점근하는 방식) 2번째 : 리스트 내에 있는 값을 이용하는 방식
#리스트 타입의 데이터가 들어오는 경우에 값을 이용해서 데이터를 출력 할 수 있다. 
for val in n_list : 
    print(val)

11
22
33
44
55
66
a
b
abc
1.2
3.4
추가하기

In [57]:
# [문제]
# a_lists의 값들 중 짝수인 값들만 temp_list에 넣어주세요
# 마지막에 temp_list를 출력해주세요 
# 인덱스 번호를 이용하는 방식과 값을 이용하는 방식 두가지 각각 만들기
a_list = [10, 23, 30, 45, 50, 60, 70, 80, 90, 100]
temp_list = []

for val in a_list :
    if val % 2 == 0 :
        temp_list.append(val)
print(temp_list)

[10, 30, 50, 60, 70, 80, 90, 100]

In [55]:
a_list = [10, 23, 30, 45, 50, 60, 70, 80, 90, 100]
temp_list = []

for i in range(0,len(a_list),1) :
        if a_list[i] % 2 == 0 :
            temp_list.append(a_list[i])
print(temp_list)

[10, 30, 50, 60, 70, 80, 90, 100]

In [58]:
# 데이터의 타입 확인하는 방법 : 출력해서 출력 양 끝의 기호 확인하기
print(a_list, temp_list)

[10, 23, 30, 45, 50, 60, 70, 80, 90, 100] [10, 30, 50, 60, 70, 80, 90, 100]

In [62]:
#리스트의 덧셈 연산 기호는 두 리스트의 연결 (산술연산의 개념이 아니라 합치는 개념)
# 곱셈 연산 기호의 경우 리스트의 반복 
print (a_list + temp_list)
# print (a_list - temp_list)
# print (a_list * temp_list)
# print (a_list / temp_list)
print (a_list * 5)

[10, 23, 30, 45, 50, 60, 70, 80, 90, 100, 10, 30, 50, 60, 70, 80, 90, 100]
[10, 23, 30, 45, 50, 60, 70, 80, 90, 100, 10, 23, 30, 45, 50, 60, 70, 80, 90, 100, 10, 23, 30, 45, 50, 60, 70, 80, 90, 100, 10, 23, 30, 45, 50, 60, 70, 80, 90, 100, 10, 23, 30, 45, 50, 60, 70, 80, 90, 100]

In [69]:
# a_list 안의 모든 값을 추출해서 temp_list 안에 넣기
#리스트 안에 리스트가 있는 경우에도 값 추출하여 tem_list 안에 넣기
# ['홍길동', 24, '부산', '부산진구', '대연동', 124, '010-1234-5678']
a_list = ["홍길동", 24,["부산","부산진구", "대연동", 124, ["010-1234-5678"]]]
b_list =[[1,2,3,4,5],['a','b','c','d','e'],["홍","김","이","최","박"]]

print(b_list)
temp_list = []

for i in range(0,len(b_list),1) :
    for j in range(0,len(b_list[i]),1) :
        temp_list.append(b_list[i][j])
print(temp_list)

print(a_list)
temp_list = []

for i in range(0,len(a_list),1) :
    for j in range(0,len(a_list[i]),1) :
        temp_list.append(a_list[i][j])
print(temp_list)

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'], ['홍', '김', '이', '최', '박']]
[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e', '홍', '김', '이', '최', '박']
['홍길동', 24, ['부산', '부산진구', '대연동', 124, ['010-1234-5678']]]

TypeError: object of type 'int' has no len()

# 딕셔너리 {}

In [70]:
# {키:값, 키:값, ...}
# 리스트가 인덱스 위치를 이용해서 값을 추출해다면 
# 딕셔너리는 키를 이용해서 값을 추출 합니다 
# 딕셔너리는 순서가 없습니다.
# 키 : 정수 or 문자열 주로 사용 
# 인댁스가 없고 키를 이용해서 값을 뽑아낸다 
# 순서에 의미가 없다

In [75]:
# 딕셔너리 정의 
# 메모리 구조 -> 하나의 공간을 할당 후 공간을 , 기준으로 분할 -> 분할된 각 공간을 키, 밸류로 분할
# person : | 이름| 홍길동 || 나이|주소 |
# 키 값은 한가지로 쓰는 게 좋음
person = { "이름":"홍길동", 
          "나이":26, 
          "주소":"부산 부산진구 대연동 243",
          1 : "졸려요~"}
print(person, person["이름"],person[1])

{'이름': '홍길동', '나이': 26, '주소': '부산 부산진구 대연동 243', 1: '졸려요~'} 홍길동 졸려요~

In [76]:
# 키값을 알고 싶을 때 -> 딕셔너리 함수 .keys()
# 리스트로 결과를 가져온다 
person.keys()
print(person.keys())

dict_keys(['이름', '나이', '주소', 1])

In [77]:
# value 값만 추출하기 -> 딕셔너리 함수 .values()
#리스트로 결과를 가져온다
person.values()

dict_values(['홍길동', 26, '부산 부산진구 대연동 243', '졸려요~'])

In [78]:
# key와 value 값을 모두 가지고 오기 
#튜플형태로 각 key, value를 가져온다
#튜플은 값이 변경 안되는 리스트
person.items()

dict_items([('이름', '홍길동'), ('나이', 26), ('주소', '부산 부산진구 대연동 243'), (1, '졸려요~')])

In [82]:
#[문제]
# person에 있는 value의 값들을 모두 추출하여 
#임의 리스트 변수 (temp_list)에 넣은 후 최종 출력해 주세요 

temp_list = []
for k in person.keys() :
    temp_list.append(person[k])
print(temp_list)

temp_list = []
for v in person.values() :
    temp_list.append(v)
print(temp_list)

['홍길동', 26, '부산 부산진구 대연동 243', '졸려요~']
['홍길동', 26, '부산 부산진구 대연동 243', '졸려요~']

In [93]:
# [문제]
# 리스트변수 : list_1, 값은 문자열 'a', 'b' ,'c', 'd', 'e','f'
#            : list_2, 값은 숫자 1,2,3,4,5,6
# 딕셔너리 변수 dit_1
# 키값 : -> 1 value 값 : list_1 넣기 
# 키값 : -> 2 value 값 : list_2 넣기 
#최종 dict_1 조회 

list_1 = ['a', 'b' ,'c', 'd', 'e','f']
list_2 = [1,2,3,4,5,6]

dict_1 = {1: list_1, 2 : list_2}

dict_1

{1: ['a', 'b', 'c', 'd', 'e', 'f'], 2: [1, 2, 3, 4, 5, 6]}

In [98]:
# [문제]
# 1차원 리스트 변수 : temp_list 생성, 값없이 생성
# 위에서 딕셔너리 안에 있는 리스트들의 값들을 모두 조회해서 
# temp_list 에 1차원으로 값들을 모두 넣어 주세요 
#결과값 형태 : ['a', 'b' ,'c', 'd', 'e','f',1,2,3,4,5,6]
temp_list = []


for k in dict_1.keys() :
    for v in dict_1[k] :
        temp_list.append(v)
    
print(temp_list)

['a', 'b', 'c', 'd', 'e', 'f', 1, 2, 3, 4, 5, 6]

In [100]:
# 수정 시에는 무조건 대괄호로 하기 
temp_list[0] = "z"
temp_list

['z', 'b', 'c', 'd', 'e', 'f', 1, 2, 3, 4, 5, 6]

In [103]:
# 딕셔너리 값의 추가

dict_1[3] = [22,33, 44, 55, 66, 44]
dict_1

{1: ['a', 'b', 'c', 'd', 'e', 'f'],
 2: [1, 2, 3, 4, 5, 6],
 3: [22, 33, 44, 55, 66, 44]}

In [105]:
dict_1[4] = "값 추가"
dict_1

{1: ['a', 'b', 'c', 'd', 'e', 'f'],
 2: [1, 2, 3, 4, 5, 6],
 3: [22, 33, 44, 55, 66, 44],
 4: '값 추가'}

In [107]:
#딕셔너리 값의 수정 
# 딕셔너리에 키가 있으면 수정이 되고 키가 없으면 추가가 된다
dict_1[4] = "수정할거야"
dict_1

{1: ['a', 'b', 'c', 'd', 'e', 'f'],
 2: [1, 2, 3, 4, 5, 6],
 3: [22, 33, 44, 55, 66, 44],
 4: '수정할거야'}

In [109]:
dict_1[3][0] = 23
dict_1

{1: ['a', 'b', 'c', 'd', 'e', 'f'],
 2: [1, 2, 3, 4, 5, 6],
 3: [23, 33, 44, 55, 66, 44],
 4: '수정할거야'}

# 함수 (function)

In [110]:
# 자주사용된느 프로그램을 하느의 이름으로 정의해 놓은 후 호출해서 사용
# 즉 자주 사용하는 기능르 정의

In [111]:
a = 10 
b = 2

tot = a + b
tot

12

In [122]:
# 함수 정의 하기 
# 매개변수 : 호출하는 쪽에서 넘겨주는 값을 받을 변수
# return : 값을 연산 후 호출한쪽으로 넘겨 주는 값 
def getHap(p_a , p_b) :
    return p_a + p_b

In [123]:
# 함수 호출하기 
result = getHap(a,b)
result

12

In [128]:
# 사칙 연산 함수 만들기 
# 함수의 두번째 매개변수 부터는 기본 값을 지정 할 수도 있다 
def getMath(p_a, p_b, mode = "+") :
    re = 0 # 전역변수
    
    if mode == '+' :
        re = p_a + p_b
    elif mode == '-' :
        re = p_a - p_b
    elif mode == '*' :
        re = p_a * p_b
    elif mode == '/' :
        re = p_a / p_b
    
    return re

In [132]:
# 함수 호출 하기 
getMath(1,2,'+')
getMath(1,2,'-')
getMath(1,2,'*')
getMath(1,2)

2

In [133]:
"""
[문제]
구구단 출력 함수 만들기
내가 원하는 '단'에 대해서만 출력하게끔 처리
단을 0 이라고 전달하면 구구단 전체가 출력되게 
구구단 출력프로그램은 하무로 생성 

"""

"\n구구단 출력 함수 만들기\n내가 원하는 '단'에 대해서만 출력하게끔 처리\n단을 0 이라고 전달하면 구구단 전체가 출력되게 \n구구단 출력프로그램은 하무로 생성 \n\n"

In [143]:
def gugudan (dan) :
    if dan != 0 : 
        for i in range(1,10, 1) :
            print("{}X{}={}".format(dan,i,dan*i))
    else :
        for i in range(1,10, 1) :
            for j in range(1,10,1) :
                print("{}X{}={}".format(i,j,i*j))

In [146]:
gugudan(1)

1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9

In [151]:
def gugudan2 (dan) :
    start_dan = dan
    end_dan = 
    for i in range(start_dan, end_dan, 1) :
            for j in range(1,10,1) :
                print("{}X{}={}".format(i,j,i*j))

In [153]:
gugudan2(1)

1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81