In [1]:
# 데이터 불러오기 
# 데이터 프레임 : 데이터를 보기 쉽게 가져 올 수 있는 방식

In [2]:
# 행렬의 데이터를 처리하는데 필요한 기능들이 많이 있음 
# 데이터 처리에 편리함 
import pandas as pd

In [22]:
# 데이터를 읽어 들일 때는 read_excel() 함수 사용 
# read_ 로 시작되는 것 => 파일을 읽어오는 것 
# 읽어들인 데이터의 형태는 데이터 프레임 형태라고 칭한다
# 데이터 프레임 : 행과 열과  되어 있는 형태 
# 1번째 값 : 파일 위치, 파일 명 
# 2번째 header : 제목의 위치 header = 0 이면 생략 가능 
# 3번째 skipfooter : 제일 하단에 읽어들이지 않을 행을 지정 skipfooter = 0 이면 생략 가능 
# 4번쨰 usecols (사용자 데이터 변수) : 읽어들일 변수 (컬럼 == 제목)의 열을 지정, usecols 전체 가져 올거다 -> 생략 가능
# 기본적으로 0번째 시트를 불러옴 
# 가져 온 결과 : 데이터 프레임 형태 -> 바로 사용이 안됨 -> 사용을 하려면 저장 필요 
# 데이터 프레임 변수(sample_1)로 받아와야 한다 

sample_1 = pd.read_excel("./files_01/sample_1.xlsx", 
              header = 1,
              skipfooter = 2,
              usecols = "A:C")

In [23]:
sample_1

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436
2  A31  남성     319
3  A31  여성      42
4  A18  남성  158912
5  A18  여성  232943

In [28]:
# 데이터 프레임의 정보 확인하기 : info() 함수
# 데이터 프레임 : 행과 열의 데이터 셋 
# <class 'pandas.core.frame.DataFrame'>  
# DataFrame : class 다  그 전의 내용은 경로 
# RangeIndex: 6 entries, 0 to 5 
# entries 전체 행의 개수 : 6 / 0to5 : 행의 인덱스 번호
# Data columns (total 3 columns) : 컬럼을 3개 가져옴 
# 각 컬럼의 인덱스 번호 :  #   Column
# 각 컬럼 별 로우의 개수 (null이 아닌 값만 카운트): Non-Null Count
# Dtype : data type 
# object : 문자열 ( 숫자가 아닌 문자를 모두 object)
# 데이터 처리 전에 꼭 info 해서 rangeindex 개수와 각 컬럼의 개수가 동일 한지 확인 해야 한다 
# -> 아닌 경우 : 결측치 존재 하는 것 

# <info> 에서 확인할 사항 
# RangeIndex(전체 행의 개수) 와 각 Column(컬럼)의 개수가 동일한지 확인 
#     (동일하지 않다면 Column에 누락된 값이 있을 수 있음 -> 결측치)
# Dtype(데이터타입) 확인하기 -> 의심되는 타입이 있으면 데이터 확인하기 

sample_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적코드    6 non-null      object
 1   성별      6 non-null      object
 2   입국객수    6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [35]:
# 데이터 확인하기 
# 기본적으로 상위 5개의 데이터를 조회 시켜준다 
# head()에 값을 넣어주면 값만큼 조회시켜 준다 
sample_1.head(2)

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436

In [38]:
# 데이터 확인하기 
# 기본적으로 밑에서 있는 데이터 부터 5개 조회
# 값을 넣어주면 값만큼 조회시켜 준다
sample_1.tail()

  국적코드  성별    입국객수
1  A01  여성  191436
2  A31  남성     319
3  A31  여성      42
4  A18  남성  158912
5  A18  여성  232943

In [39]:
# 기초 통계값 확인하기 
# 카운트, 평균, 표준편차, 최소값, 최대 값, 4분위 값들 
# int float 타입의 데이터만 처리를 해준다 
# 해당 통계 값을 확인 해서 이상치가 있는 지 확인 해본다 

sample_1.describe()

                입국객수
count       6.000000
mean   114995.333333
std     98105.752006
min        42.000000
25%     26819.250000
50%    132616.000000
75%    183305.000000
max    232943.000000