In [12]:
# 드라이버 설치하기 
# 새 프롬포트 창 열어서 mysql 로 이동한 후 아래 명령어 수행 
# conda install -c conda-forge PyMySQL
import pymysql 
import pandas as pd

## mysql 접속하기

In [3]:
host = "localhost" # ip : 127.0.0.1
user = "pknu"
password = "0107"
db = "pknu"
charset = "utf8" # 한글 처리
autocommit = True # 입력/수정/삭제 시에 메모리에 자동 적용
cursorclass = pymysql.cursors.DictCursor # 조회시에 컬럼명과 데이터 함께 조회

In [5]:
# Db랑 연결하기 
# DB랑 연결 안되어 있을 시 예외 처리하기 
try : 
    conn = pymysql.connect(host = host, 
                           user = user,
                           password = password,
                           db = db,
                           charset = charset,
                           autocommit = autocommit,
                           cursorclass = cursorclass)
    print(conn)
except :
    print("서버를 확인해 주세요!!")

<pymysql.connections.Connection object at 0x000001BC55B33C40>

### MySQL로 부터 cursor 받아오기

In [6]:
# cursor : sql 문장을 실어나르고, MYSQL 서버가 실행한 결과를 받아오는 역할 수행
# 데이터를 실어나르는 것 만들기
cur = conn.cursor()
print(cur)

<pymysql.cursors.DictCursor object at 0x000001BC55AA7E20>

### 여러건(행) 조회하기

In [13]:
sql = """
    select * from cart
    
"""
# execute : DB 서버에 실어나르로 결과 받아오라는 명령 
rs_cnt = cur.execute(sql)
if rs_cnt > 0 :
    print("{}건이 조회되었습니다".format(rs_cnt))
    # 데이터 가져오기 
    # 여러건 조회 결과를 가지고 있는 변수는 : 커서
    # fetchall = >전부다 
    # fetchone => 하나만 
    rows = cur.fetchall()
    print(rows)
    # 조회 결과 => 전체는 리스트 ->  안에는 딕셔너리 
    # 데이터 프레임에 담기 
    member_all = pd.DataFrame(rows)
    
else : 
    print("조회결과가 없습니다")

135건이 조회되었습니다
[{'cart_member': 'a001', 'cart_no': '2005040100001', 'cart_prod': 'P101000001', 'cart_qty': 5}, {'cart_member': 'a001', 'cart_no': '2005040100001', 'cart_prod': 'P201000018', 'cart_qty': 16}, {'cart_member': 'a001', 'cart_no': '2005040100001', 'cart_prod': 'P302000003', 'cart_qty': 7}, {'cart_member': 't001', 'cart_no': '2005040100002', 'cart_prod': 'P101000002', 'cart_qty': 2}, {'cart_member': 't001', 'cart_no': '2005040100002', 'cart_prod': 'P302000004', 'cart_qty': 2}, {'cart_member': 'w001', 'cart_no': '2005040100003', 'cart_prod': 'P101000003', 'cart_qty': 3}, {'cart_member': 'w001', 'cart_no': '2005040100003', 'cart_prod': 'P201000019', 'cart_qty': 2}, {'cart_member': 'w001', 'cart_no': '2005040100003', 'cart_prod': 'P201000020', 'cart_qty': 21}, {'cart_member': 'w001', 'cart_no': '2005040100003', 'cart_prod': 'P302000005', 'cart_qty': 9}, {'cart_member': 'r001', 'cart_no': '2005040500001', 'cart_prod': 'P101000004', 'cart_qty': 2}, {'cart_member': 'r001', 'cart_no': '2005040500001', 'cart_prod': 'P201000021', 'cart_qty': 2}, {'cart_member': 'r001', 'cart_no': '2005040500001', 'cart_prod': 'P302000006', 'cart_qty': 2}, {'cart_member': 'q001', 'cart_no': '2005040500002', 'cart_prod': 'P101000005', 'cart_qty': 4}, {'cart_member': 'q001', 'cart_no': '2005040500002', 'cart_prod': 'P202000001', 'cart_qty': 12}, {'cart_member': 'q001', 'cart_no': '2005040500002', 'cart_prod': 'P302000011', 'cart_qty': 11}, {'cart_member': 'p001', 'cart_no': '2005040600001', 'cart_prod': 'P101000006', 'cart_qty': 2}, {'cart_member': 'p001', 'cart_no': '2005040600001', 'cart_prod': 'P202000002', 'cart_qty': 2}, {'cart_member': 'o001', 'cart_no': '2005040600002', 'cart_prod': 'P102000001', 'cart_qty': 6}, {'cart_member': 'o001', 'cart_no': '2005040600002', 'cart_prod': 'P202000003', 'cart_qty': 9}, {'cart_member': 'o001', 'cart_no': '2005040600002', 'cart_prod': 'P302000013', 'cart_qty': 9}, {'cart_member': 'f001', 'cart_no': '2005040800001', 'cart_prod': 'P102000002', 'cart_qty': 2}, {'cart_member': 'f001', 'cart_no': '2005040800001', 'cart_prod': 'P202000004', 'cart_qty': 2}, {'cart_member': 'f001', 'cart_no': '2005040800001', 'cart_prod': 'P302000014', 'cart_qty': 2}, {'cart_member': 'm001', 'cart_no': '2005040800002', 'cart_prod': 'P102000003', 'cart_qty': 9}, {'cart_member': 'm001', 'cart_no': '2005040800002', 'cart_prod': 'P202000005', 'cart_qty': 8}, {'cart_member': 'm001', 'cart_no': '2005040800002', 'cart_prod': 'P302000015', 'cart_qty': 8}, {'cart_member': 'l001', 'cart_no': '2005041000001', 'cart_prod': 'P102000004', 'cart_qty': 2}, {'cart_member': 'l001', 'cart_no': '2005041000001', 'cart_prod': 'P202000006', 'cart_qty': 2}, {'cart_member': 'l001', 'cart_no': '2005041000001', 'cart_prod': 'P302000016', 'cart_qty': 2}, {'cart_member': 'f001', 'cart_no': '2005041000002', 'cart_prod': 'P102000005', 'cart_qty': 8}, {'cart_member': 'f001', 'cart_no': '2005041000002', 'cart_prod': 'P202000007', 'cart_qty': 7}, {'cart_member': 'f001', 'cart_no': '2005041000002', 'cart_prod': 'P302000021', 'cart_qty': 7}, {'cart_member': 'j001', 'cart_no': '2005041200001', 'cart_prod': 'P102000006', 'cart_qty': 2}, {'cart_member': 'j001', 'cart_no': '2005041200001', 'cart_prod': 'P202000008', 'cart_qty': 2}, {'cart_member': 'j001', 'cart_no': '2005041200001', 'cart_prod': 'P202000009', 'cart_qty': 6}, {'cart_member': 'j001', 'cart_no': '2005041200001', 'cart_prod': 'P302000022', 'cart_qty': 2}, {'cart_member': 'm001', 'cart_no': '2005041200002', 'cart_prod': 'P102000007', 'cart_qty': 7}, {'cart_member': 'm001', 'cart_no': '2005041200002', 'cart_prod': 'P202000010', 'cart_qty': 2}, {'cart_member': 'm001', 'cart_no': '2005041200002', 'cart_prod': 'P302000023', 'cart_qty': 6}, {'cart_member': 'f001', 'cart_no': '2005041500001', 'cart_prod': 'P201000001', 'cart_qty': 2}, {'cart_member': 'f001', 'cart_no': '2005041500001', 'cart_prod': 'P302000001', 'cart_qty': 2}, {'cart_member': 'j001', 'cart_no': '2005041500002', 'cart_prod': 'P201000002', 'cart_qty': 5}, {'cart_member': 'j001', 'cart_no': '2005041500002', 'cart_prod': 'P202000011', 'cart_qty': 5}, {'cart_member': 'j001', 'cart_no': '2005041500002', 'cart_prod': 'P302000002', 'cart_qty': 5}, {'cart_member': 'f001', 'cart_no': '2005041600001', 'cart_prod': 'P201000003', 'cart_qty': 2}, {'cart_member': 'f001', 'cart_no': '2005041600001', 'cart_prod': 'P202000012', 'cart_qty': 2}, {'cart_member': 'f001', 'cart_no': '2005041600001', 'cart_prod': 'P302000003', 'cart_qty': 2}, {'cart_member': 'e001', 'cart_no': '2005041600002', 'cart_prod': 'P201000004', 'cart_qty': 3}, {'cart_member': 'e001', 'cart_no': '2005041600002', 'cart_prod': 'P202000013', 'cart_qty': 4}, {'cart_member': 'e001', 'cart_no': '2005041600002', 'cart_prod': 'P302000004', 'cart_qty': 4}, {'cart_member': 'd001', 'cart_no': '2005041800001', 'cart_prod': 'P201000005', 'cart_qty': 2}, {'cart_member': 'd001', 'cart_no': '2005041800001', 'cart_prod': 'P202000014', 'cart_qty': 2}, {'cart_member': 'd001', 'cart_no': '2005041800001', 'cart_prod': 'P302000005', 'cart_qty': 2}, {'cart_member': 'c001', 'cart_no': '2005041800002', 'cart_prod': 'P201000006', 'cart_qty': 1}, {'cart_member': 'c001', 'cart_no': '2005041800002', 'cart_prod': 'P202000015', 'cart_qty': 3}, {'cart_member': 'c001', 'cart_no': '2005041800002', 'cart_prod': 'P302000006', 'cart_qty': 3}, {'cart_member': 'b001', 'cart_no': '2005042000001', 'cart_prod': 'P201000007', 'cart_qty': 2}, {'cart_member': 'b001', 'cart_no': '2005042000001', 'cart_prod': 'P201000008', 'cart_qty': 5}, {'cart_member': 'b001', 'cart_no': '2005042000001', 'cart_prod': 'P202000016', 'cart_qty': 2}, {'cart_member': 'b001', 'cart_no': '2005042000001', 'cart_prod': 'P202000017', 'cart_qty': 1}, {'cart_member': 'b001', 'cart_no': '2005042000001', 'cart_prod': 'P302000011', 'cart_qty': 2}, {'cart_member': 'c001', 'cart_no': '2005042000002', 'cart_prod': 'P201000009', 'cart_qty': 2}, {'cart_member': 'c001', 'cart_no': '2005042000002', 'cart_prod': 'P201000010', 'cart_qty': 4}, {'cart_member': 'c001', 'cart_no': '2005042000002', 'cart_prod': 'P202000018', 'cart_qty': 2}, {'cart_member': 'c001', 'cart_no': '2005042000002', 'cart_prod': 'P202000019', 'cart_qty': 2}, {'cart_member': 'c001', 'cart_no': '2005042000002', 'cart_prod': 'P202000020', 'cart_qty': 2}, {'cart_member': 'x001', 'cart_no': '2005042400001', 'cart_prod': 'P201000011', 'cart_qty': 2}, {'cart_member': 'x001', 'cart_no': '2005042400001', 'cart_prod': 'P201000012', 'cart_qty': 3}, {'cart_member': 'x001', 'cart_no': '2005042400001', 'cart_prod': 'P202000021', 'cart_qty': 4}, {'cart_member': 'e001', 'cart_no': '2005042400002', 'cart_prod': 'P201000013', 'cart_qty': 2}, {'cart_member': 'e001', 'cart_no': '2005042400002', 'cart_prod': 'P201000014', 'cart_qty': 13}, {'cart_member': 'e001', 'cart_no': '2005042400002', 'cart_prod': 'P301000001', 'cart_qty': 2}, {'cart_member': 'e001', 'cart_no': '2005042400002', 'cart_prod': 'P301000002', 'cart_qty': 5}, {'cart_member': 'c001', 'cart_no': '2005042800001', 'cart_prod': 'P201000015', 'cart_qty': 2}, {'cart_member': 'c001', 'cart_no': '2005042800001', 'cart_prod': 'P301000003', 'cart_qty': 2}, {'cart_member': 'b001', 'cart_no': '2005042800002', 'cart_prod': 'P201000016', 'cart_qty': 15}, {'cart_member': 'b001', 'cart_no': '2005042800002', 'cart_prod': 'P201000017', 'cart_qty': 2}, {'cart_member': 'b001', 'cart_no': '2005042800002', 'cart_prod': 'P302000001', 'cart_qty': 6}, {'cart_member': 'b001', 'cart_no': '2005042800002', 'cart_prod': 'P302000002', 'cart_qty': 2}, {'cart_member': 'b001', 'cart_no': '2005050100001', 'cart_prod': 'P201000013', 'cart_qty': 5}, {'cart_member': 'b001', 'cart_no': '2005050100001', 'cart_prod': 'P301000002', 'cart_qty': 5}, {'cart_member': 'c001', 'cart_no': '2005050100002', 'cart_prod': 'P201000014', 'cart_qty': 3}, {'cart_member': 'c001', 'cart_no': '2005050100002', 'cart_prod': 'P201000015', 'cart_qty': 7}, {'cart_member': 'c001', 'cart_no': '2005050100002', 'cart_prod': 'P301000003', 'cart_qty': 6}, {'cart_member': 'd001', 'cart_no': '2005050300001', 'cart_prod': 'P302000001', 'cart_qty': 4}, {'cart_member': 'd001', 'cart_no': '2005050300001', 'cart_prod': 'P302000002', 'cart_qty': 3}, {'cart_member': 'e001', 'cart_no': '2005050300002', 'cart_prod': 'P201000016', 'cart_qty': 8}, {'cart_member': 'e001', 'cart_no': '2005050300002', 'cart_prod': 'P201000017', 'cart_qty': 21}, {'cart_member': 'g001', 'cart_no': '2005050500001', 'cart_prod': 'P201000018', 'cart_qty': 11}, {'cart_member': 'g001', 'cart_no': '2005050500001', 'cart_prod': 'P302000003', 'cart_qty': 4}, {'cart_member': 'g001', 'cart_no': '2005050500001', 'cart_prod': 'P302000004', 'cart_qty': 3}, {'cart_member': 'a001', 'cart_no': '2005050500002', 'cart_prod': 'P201000019', 'cart_qty': 12}, {'cart_member': 'a001', 'cart_no': '2005050700001', 'cart_prod': 'P101000001', 'cart_qty': 3}, {'cart_member': 'a001', 'cart_no': '2005050700001', 'cart_prod': 'P101000002', 'cart_qty': 1}, {'cart_member': 'a001', 'cart_no': '2005050700001', 'cart_prod': 'P302000005', 'cart_qty': 5}, {'cart_member': 'b001', 'cart_no': '2005050700002', 'cart_prod': 'P201000020', 'cart_qty': 2}, {'cart_member': 'b001', 'cart_no': '2005050700002', 'cart_prod': 'P302000006', 'cart_qty': 6}, {'cart_member': 'b001', 'cart_no': '2005050700002', 'cart_prod': 'P302000011', 'cart_qty': 7}, {'cart_member': 'c001', 'cart_no': '2005051000001', 'cart_prod': 'P101000003', 'cart_qty': 2}, {'cart_member': 'c001', 'cart_no': '2005051000001', 'cart_prod': 'P101000004', 'cart_qty': 4}, {'cart_member': 'c001', 'cart_no': '2005051000001', 'cart_prod': 'P201000021', 'cart_qty': 5}, {'cart_member': 'd001', 'cart_no': '2005051000002', 'cart_prod': 'P101000005', 'cart_qty': 5}, {'cart_member': 'd001', 'cart_no': '2005051000002', 'cart_prod': 'P202000001', 'cart_qty': 6}, {'cart_member': 'd001', 'cart_no': '2005051000002', 'cart_prod': 'P202000002', 'cart_qty': 7}, {'cart_member': 'd001', 'cart_no': '2005051000002', 'cart_prod': 'P302000012', 'cart_qty': 8}, {'cart_member': 'd001', 'cart_no': '2005051000002', 'cart_prod': 'P302000013', 'cart_qty': 3}, {'cart_member': 'f001', 'cart_no': '2005051200001', 'cart_prod': 'P101000006', 'cart_qty': 6}, {'cart_member': 'f001', 'cart_no': '2005051200001', 'cart_prod': 'P102000001', 'cart_qty': 1}, {'cart_member': 'f001', 'cart_no': '2005051200001', 'cart_prod': 'P202000003', 'cart_qty': 8}, {'cart_member': 'f001', 'cart_no': '2005051200001', 'cart_prod': 'P302000014', 'cart_qty': 4}, {'cart_member': 'f001', 'cart_no': '2005051200001', 'cart_prod': 'P302000015', 'cart_qty': 5}, {'cart_member': 'g001', 'cart_no': '2005051300001', 'cart_prod': 'P102000002', 'cart_qty': 2}, {'cart_member': 'g001', 'cart_no': '2005051300001', 'cart_prod': 'P202000004', 'cart_qty': 9}, {'cart_member': 'g001', 'cart_no': '2005051300001', 'cart_prod': 'P202000005', 'cart_qty': 11}, {'cart_member': 'g001', 'cart_no': '2005051300001', 'cart_prod': 'P302000016', 'cart_qty': 6}, {'cart_member': 'g001', 'cart_no': '2005051300001', 'cart_prod': 'P302000021', 'cart_qty': 3}, {'cart_member': 'i001', 'cart_no': '2005051500001', 'cart_prod': 'P102000003', 'cart_qty': 3}, {'cart_member': 'i001', 'cart_no': '2005051500001', 'cart_prod': 'P202000006', 'cart_qty': 12}, {'cart_member': 'j001', 'cart_no': '2005051600001', 'cart_prod': 'P102000004', 'cart_qty': 4}, {'cart_member': 'j001', 'cart_no': '2005051600001', 'cart_prod': 'P202000007', 'cart_qty': 17}, {'cart_member': 'j001', 'cart_no': '2005051600001', 'cart_prod': 'P302000022', 'cart_qty': 1}, {'cart_member': 'k001', 'cart_no': '2005051600002', 'cart_prod': 'P102000005', 'cart_qty': 5}, {'cart_member': 'k001', 'cart_no': '2005051600002', 'cart_prod': 'P102000006', 'cart_qty': 6}, {'cart_member': 'k001', 'cart_no': '2005051600002', 'cart_prod': 'P202000008', 'cart_qty': 21}, {'cart_member': 'k001', 'cart_no': '2005051600002', 'cart_prod': 'P202000009', 'cart_qty': 13}, {'cart_member': 'k001', 'cart_no': '2005051600002', 'cart_prod': 'P302000023', 'cart_qty': 3}, {'cart_member': 'l001', 'cart_no': '2005051800001', 'cart_prod': 'P302000001', 'cart_qty': 4}, {'cart_member': 'l001', 'cart_no': '2005051800001', 'cart_prod': 'P302000002', 'cart_qty': 6}, {'cart_member': 'm001', 'cart_no': '2005051800002', 'cart_prod': 'P102000007', 'cart_qty': 3}, {'cart_member': 'm001', 'cart_no': '2005051800002', 'cart_prod': 'P201000001', 'cart_qty': 5}, {'cart_member': 'm001', 'cart_no': '2005051800002', 'cart_prod': 'P202000010', 'cart_qty': 23}, {'cart_member': 'm001', 'cart_no': '2005051800002', 'cart_prod': 'P202000011', 'cart_qty': 25}, {'cart_member': 'm001', 'cart_no': '2005051800002', 'cart_prod': 'P302000003', 'cart_qty': 7}, {'cart_member': 'm001', 'cart_no': '2005051800002', 'cart_prod': 'P302000004', 'cart_qty': 2}, {'cart_member': 'o001', 'cart_no': '2005052100001', 'cart_prod': 'P201000002', 'cart_qty': 2}]

In [15]:
member_all

    cart_member        cart_no   cart_prod  cart_qty
0          a001  2005040100001  P101000001         5
1          a001  2005040100001  P201000018        16
2          a001  2005040100001  P302000003         7
3          t001  2005040100002  P101000002         2
4          t001  2005040100002  P302000004         2
..          ...            ...         ...       ...
130        m001  2005051800002  P202000010        23
131        m001  2005051800002  P202000011        25
132        m001  2005051800002  P302000003         7
133        m001  2005051800002  P302000004         2
134        o001  2005052100001  P201000002         2

[135 rows x 4 columns]

## 1건 조회시

In [19]:
sql = """
    select * 
    from member
    where mem_id = 'a001'
    
"""
# execute : DB 서버에 실어나르로 결과 받아오라는 명령 
rs_cnt = cur.execute(sql)
if rs_cnt > 0 :
    print("{}건이 조회되었습니다".format(rs_cnt))
    # 데이터 가져오기 
    # 여러건 조회 결과를 가지고 있는 변수는 : 커서
    # fetchall = >전부다 
    # fetchone => 하나만 
    row = cur.fetchone()
    print(row)
    # 조회 결과 => 딕셔너리 
    # 리스트로 감싼 후 데이터 프레임으로 변경
    member_one = pd.DataFrame([row])
    
else : 
    print("조회결과가 없습니다")

1건이 조회되었습니다
{'mem_id': 'a001', 'mem_pass': 'asdfasdf', 'mem_name': '김은대', 'mem_regno1': '760115', 'mem_regno2': '1406420', 'mem_bir': datetime.datetime(1976, 1, 15, 0, 0), 'mem_zip': '135-972', 'mem_add1': '대전시 동구 용운동', 'mem_add2': '222-2번지', 'mem_hometel': '042-621-4615', 'mem_comtel': '042-621-4615', 'mem_hp': '011-621-4615', 'mem_mail': 'pyoedab@lycos.co.kr', 'mem_job': '주부', 'mem_like': '수영', 'mem_memorial': '결혼기념일', 'mem_memorialday': datetime.datetime(1999, 1, 12, 0, 0), 'mem_mileage': 1000, 'mem_delete': ''}

In [20]:
member_one

,mem_id,mem_pass,mem_name,mem_regno1,mem_regno2,mem_bir,mem_zip,mem_add1,mem_add2,mem_hometel,mem_comtel,mem_hp,mem_mail,mem_job,mem_like,mem_memorial,mem_memorialday,mem_mileage,mem_delete
0,a001,asdfasdf,김은대,760115,1406420,1976-01-15,135-972,대전시 동구 용운동,222-2번지,042-621-4615,042-621-4615,011-621-4615,pyoedab@lycos.co.kr,주부,수영,결혼기념일,1999-01-12,1000,

## 입력/수정/삭제

In [26]:
# 입력
sql = """
    Insert Into cart(cart_member, cart_no, cart_prod, cart_qty)
        Values('t001','202301190001','P101000002',4)
"""
rs_cnt = cur.execute(sql)
if rs_cnt > 0 :
    print("{}건이 입력되었습니다".format(rs_cnt))
else : 
    print("입력되지 않았습니다")

1건이 입력되었습니다

In [27]:
# 수정 
sql = """
    Update cart 
        Set cart_qty = 14 
    Where cart_no = '202301190001'
"""
rs_cnt = cur.execute(sql)
if rs_cnt > 0 :
    print("{}건이 수정 되었습니다".format(rs_cnt))
else : 
    print("수정되지 않았습니다")

1건이 수정 되었습니다

In [28]:
# 삭제 
sql = """
    Delete from cart 
    Where cart_no = '202301190001'
"""
rs_cnt = cur.execute(sql)
if rs_cnt > 0 :
    print("{}건이 삭제 되었습니다".format(rs_cnt))
else : 
    print("삭제되지 않았습니다")

1건이 삭제 되었습니다

## DB와 연결끊기

In [30]:
# 연결 끊는 순서 : 커서 close , 접속 close 
# 이미 중지된 경우 error 예외 처리하기 
try : 
    cur.close()
    conn.close()
except : 
    print("서버에 이상이 있거나, 이미 접속을 끊었습니다")

서버에 이상이 있거나, 이미 접속을 끊었습니다

In [ ]:
# CRUD : create select update delete 
# join : 인터넷 따로 공부하기