# 1주차 내용 복습

In [1]:
# 패키지 불러들이기 
import pandas as pd

## 판다스 데이터구조 -시리즈

In [5]:
# 리스트 -> 시리즈 데이터 생성하기 
# 시리즈 : 컬럼명이 없음, 인덱스 - 값 으로 나오는 형태
# 값에 접근하기 위해서 인덱스 번호를 이용해야 한다 
# 인덱스를 지정해줘야함 
sd1 = pd.Series(["Dog","Cat","Tiger","Lion","Monkey"],
              index =[0,1,2,3,4])
sd1[0]
sd1

0       Dog
1       Cat
2     Tiger
3      Lion
4    Monkey
dtype: object

In [11]:
# 딕셔너리 -> 시리즈 데이터로 생성하기 
# 키값을 인덱스로 사용 
dict_data = {0 : "Doc", 1: "Cat", 2: "TIger"}
dict_data

dict_data = {"a" : "Doc", "b": "Cat", "c": "TIger"}

sd2 = pd.Series(dict_data)
print("type: ", type(sd2))
sd2

type:  <class 'pandas.core.series.Series'>

a      Doc
b      Cat
c    TIger
dtype: object

In [15]:
# 인덱스 자동 지정 
list_data = ["Dog", "Cat", "Tiger"]
sd3 = pd.Series(list_data)
sd3

0      Dog
1      Cat
2    Tiger
dtype: object

In [22]:
# 튜플 데이터를ㄹ -> 시리즈로 만들기 
# 튜플 : 리스트와 동일한 구조를 가지며, 사용법이 동일하다 
#      :단 수정이 안되며, 수정 시 삭제 후 다시 만드어야 한다 
tup_data = ("Dog", "Cat", "Tiger")
tup_data

sd4 = pd.Series(tup_data)
sd4

0      Dog
1      Cat
2    Tiger
dtype: object

## 데이터 프레임 생성하기

In [26]:
# 딕셔너리 형태로 생성하기 
# key 값(칼럼) : 일반 문자열 
# values(로우) : 리스트로 
# 각 칼럼의 로우의 개수가 동일해야 한다


dict_data = {"동물" : ["dog", "cat", "tiger", "lion", "monkey"],
            "나이" : [7,8,2,3,1]}
dict_data

df1 = pd.DataFrame(dict_data)
df1

       동물  나이
0     dog   7
1     cat   8
2   tiger   2
3    lion   3
4  monkey   1

In [29]:
# 리스트 형태로 -> 데이터 프레임 생성하기 
list_data = [["dog", 7], ["cat", 8],["tiger", 2],["lion",3] ]
list_data

[['dog', 7], ['cat', 8], ['tiger', 2], ['lion', 3]]

In [31]:
data_list = ["Dog",7]
col_name = ["동물", "나이"]
df2 = pd.DataFrame([data_list], colimns=col_name)

df2 = pd.DataFrame(list_data, columns = ["동물", "나이"])
print(type(df2))
df2

TypeError: __init__() got an unexpected keyword argument 'colimns'